@using Fly.Resources
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="row">

    <div class="col-md-12 col-xs-12">
        <div class="panel panel-white">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-2">
                        <h4 class="panel-title text-primary padding-top-10 text-bold">Clients</h4>
                    </div>
                    <div class="col-md-10">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                  
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                  
                                </div>
                            </div>

                            <div class="col-md-4">
                                <br />
                                <div class="input-group">
                                    <input name="searchToken" id="searchToken" placeholder="@OperationLP.TxtSearch" class="form-control" />

                                    <span class="input-group-btn">
                                        <button type="button" id="search" class="btn btn-success" onclick="search()" data-original-title="@OperationLP.BtnSearch" data-toggle="tooltip">

                                            <span class="fa-search fa"></span>
                                        </button>
                                    </span>
                                </div>

                            </div>

                            <div class="col-md-2">
                                <br />
                                <button type="button" id="addItem" class="btn btn-primary" data-original-title="@OperationLP.BtnNew" data-toggle="tooltip">
                                    Add
                                    <span class="fa-plus fa"></span>
                                </button>
                            </div>


                        </div>
                    </div>

                </div>


                @Html.Action("TableStructure", "GlobalCtrl", new { area = "", @colmnCount = 3, @operationsColumnCount = 0 })

            </div>
        </div>
    </div>

</div>


@Html.Partial("/Views/Shared/_TableLocalize.cshtml")


<script src="~/Scripts/DevScripts/StandardForm.js"></script>

<script>

    var ActionLoadData = "@Url.Action("loadData")";
   
    var colData = [
    { "data": "Name", "title": "Name", "name": "Name", "autoWidth": true, "orderable": true },
    { "data": "Idstr", "title": "ID", "name": "Idstr", "autoWidth": true, "orderable": true },
     { "data": "Id", "name": "", "autoWidth": false, "orderable": false }
    ];



    operationIndex = undefined;
    getTrips = 2;
    getId = 1;
    GenerateTableCustomColumn();



    function Show_Trips(userId) {
        ShowLoader();
        $.ajax({
            url: "@Url.Action("GetTrips")",
            type: 'post',
            data: {
                clientId: userId
            },
            success: function (data) {
                if (modelHeaderTitle != "") {
                    $("#generalModelTitle").html("Trips");
                }
                $("#generalModelBody").html(data);
                $("#generalModal").modal("show");
                HideLoader();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            }
        });
    }
</script>